html,body {
  font-family: 'Open Sans', serif;
}
.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../images/image-terrassement1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}

.card-service {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );

  color: white;
  height: 90%;
}

.hero-foot{
  background-color: transparent;
}

.hero-foot p{
  line-height: 20px;
}

#by{
  font-size: 10px;
}

.icon{
  font-size: 20px;
}

.footer-text{
  padding-left: 10px;
  padding-right: 30px;
}